<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" id="renderMainDiv">
        <div class="left-render" mwlDroppable (drop)="dropElem($event)">
            <div class="elementRender" renderEl></div>
        </div>
        <div class="right-render">
            <h3>Drag Items from the list!!</h3>
            <div class="elemList" *ngFor="let e of renderElements">
                <p mwlDraggable (dragEnd)="dragEnd($event)" dropData="{{e}}">{{e | titlecase }}</p>
            </div>
        </div>
    </div>
</body>
</html>